

.lettre {
  width: 80px;
  height: 80px;
  font-size: 60px;
  margin: 10px;
  margin-top: 5%;
  border-radius: 10px;

}


header h1 {
  text-align: center;
}


#motsRecherche {

  font-size: 80px;
  letter-spacing: 15px;

}

#mots {

  text-align: center;

}

#clavier {

  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

#image {
  width: 300px;
  height: 500px;

}

#contenair {

  margin-top: 5%;

  display: flex;

  border: solid black;

  flex-direction: row;
}

.contenairResultat {
  text-align: center;
  height: 50px;
}

#resultat {
  font-size: 50px;
}


#rejouer{
  width: 40%;
  height: 50px;
  border:solid 2px black;
  font-size: 30px;

}

#rejouer:hover{
  background-color: darkgray;
}


.bas{
  margin-top: 20px;
  text-align: center;
}


